body {
    background-image: url("/media/resources/articles/resume/img/background.png");
}
article {
    max-width: 700px;
    margin: 60px auto;
    padding-top: 60px;
    padding-bottom: 60px;

    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    position: relative;

}

/*
link style
*/
article a, a:link, a:active, a:visited, a:hover {
    color: #777;
}
article a:hover {
    text-decoration: underline;
}

/*
icons for sections
*/

article > h2:nth-of-type(n+2):before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: -105px;
    top: -15px;
    background-image: url(/media/resources/articles/resume/img/icons.png);
}
article > h2:nth-of-type(2)::before {
    background-position: -45px top;
}
article > h2:nth-of-type(3)::before {
    background-position: -45px bottom;
}
article > h2:nth-of-type(4)::before {
    background-position: left top;
}
article > h2:nth-of-type(5)::before {
    background-position: right top;
}
article > h2:nth-of-type(6)::before {
    background-position: -90px top;
}

article >h2:nth-of-type(4) + ul > li {
    margin: 3px 0 3px 0;
}